@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Vollkorn:ital@1&display=swap');

/



body {
	background-color:skyblue;
	font-family: 'Vollkorn', serif;
 color: #2B3A55;
}




#my-avatar{
	width: 80px;
	border-radius: 50%;
}
#content{
	text-align: center;
}
 
 #my-name {
    font-family: 'Merienda', cursive;
  color:  #CE7777;
 }