@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Vollkorn:ital@1&display=swap');
body {
	background-color:yellow;
	font-family: 'Vollkorn', serif;
}
p {
	color:;

}
#my-avatar{
	width: 150px;
	border-radius: 50%;
}
#content{
	text-align: center;
}
 
 #my-name {
    font-family: 'Merienda', cursive;
 }